USE [master]
GO
/****** Object:  Database [Hotel Reservation]    Script Date: 7/22/2025 7:17:31 PM ******/
CREATE DATABASE [Hotel Reservation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel Reservation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel Reservation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel Reservation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel Reservation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel Reservation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel Reservation]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/22/2025 7:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Empid] [int] NULL,
	[Ename] [varchar](20) NULL,
	[Eage] [int] NULL,
	[Enic] [varchar](20) NULL,
	[Eaddress] [varchar](30) NULL,
	[Econtact] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBM1]    Script Date: 7/22/2025 7:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBM1](
	[rid] [int] NULL,
	[rtype] [varchar](20) NULL,
	[checkin] [varchar](50) NULL,
	[checkout] [varchar](50) NULL,
	[payment] [int] NULL,
	[norooms] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGM]    Script Date: 7/22/2025 7:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGM](
	[cid] [int] NULL,
	[cname] [varchar](20) NULL,
	[cage] [int] NULL,
	[caddress] [varchar](30) NULL,
	[ccontact] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPrice]    Script Date: 7/22/2025 7:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPrice](
	[Type] [varchar](20) NULL,
	[Price] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRegister]    Script Date: 7/22/2025 7:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegister](
	[FirstName] [varchar](20) NULL,
	[LastName] [varchar](20) NULL,
	[Username] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[cpassword] [varchar](20) NULL,
	[AccessType] [varchar](20) NULL,
	[DateofBirth] [date] NULL
) ON [PRIMARY]
GO
USE [master]
GO
